.card{
    margin: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 10em;
    border-radius: 4px;
    .text{
        padding-top: 10px;
        text-decoration: underline;
        margin:0px 35px;
    }
    .inputs{
        margin:0px 30px;
    }
    .hr{
        margin:10px 35px;
        padding: 0.5px;
        background-color: rgba(128, 128, 128, 0.295);
    }
    .hr1{
        position: absolute;
        padding: 2px;
        width: 10%;
        background-color:rgba(128, 0, 128, 0.767);
    }

    input{
      padding: 10px;  
      margin: 20px 5px;
      border: rgba(190, 190, 190, 0.548) solid   1px;
      border-radius: 5px;
    }
    .btn{
        background-color: rgba(3, 96, 139, 0.747);
        color: white;
    }
}