* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  overflow: hidden;
}

.dashboard {
  display: flex;
  &  .sidebar {
    width: 15rem;
    height: 100vh;
    background-color: peru;
  }
}

@import './styles/main.scss'